.sc-visual {
  height: 134.53vw;
  /* min-height: 98.59vw; */
  overflow: hidden;
}
.sc-visual .inner {
  padding: 3vw 4.6vw 0 4.6vw;
}
.sc-visual .headline {
  position: relative;
  font-family: 'boowie';
  font-size: 11.5vw;
  font-weight: 400;
  line-height: 0.9;
  color: var(--text-color-100);
  margin-bottom: 13px;
  white-space: nowrap;
}
.sc-visual {
  background: linear-gradient(0deg, #F5F4F3 29.8370361328125%, #D2C5FF 56.7535400390625%, #345C59 76.849365234375%, #000000 100%);
}
.sc-visual .headline::before {
  content: '';
  position: absolute;
  bottom: -25%;
  right: -3%;
  display: block;
  width: 25.2vw;
  height: 19.8vw;
  background: url(../images/cloud01.webp) no-repeat center / 100%;
  opacity: 0.46;
}
.sc-visual .text-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sc-visual .text-wrap .text {
  width: 26vw;
  font-size: 1.2vw;
  color: var(--text-color-100);
}
.sc-visual .more-link {
  position: relative;
  z-index: 1;
}
.sc-visual .astronaut {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 40%);
  animation: astronautMove 14s infinite;
  z-index: 1;
}
.sc-visual .astronaut .astronaut-img {
  height: 47.1vw;
}
.sc-visual .back-cloud {
  position: relative;
  height: 26vw;
}
.sc-visual .cloud {
  position: absolute;
}
.sc-visual .back-cloud .back-cloud1 {
  top: 9.9vw;
  left: -60%;
  width: 97.2vw;
}
.sc-visual .back-cloud .back-cloud2 {
  top: 6.8VW;
  left: 8%;
  width: 99.1vw;
}
.sc-visual .back-cloud .back-cloud3 {
  top: 10.9vw;
  right: -33%;
  width: 67.97vw;
}
.sc-visual .front-cloud {
  position: relative;
  z-index: 1;
}
.sc-visual .front-cloud .astronaut-hide {
  position: absolute;
  top: 20.31vw;
  width: 100%;
  height: 46.88vw;
  background: #f5f4f3;
}
.sc-visual .front-cloud .front-cloud1 {
  top: 0;
  right: -15%;
  width: 89.84vw;
}
.sc-visual .front-cloud .front-cloud2 {
  top: 150px;
  left: -14%;
  width: 67.97vw;
}
.sc-visual .front-cloud .front-cloud3 {
  top: 150px;
  right: -14%;
  width: 74.64vw;
}
.sc-visual .front-cloud .front-cloud4 {
  top: 130px;
  left: -10%;
  width: 67.92vw;
}
.sc-visual .front-cloud .front-cloud5 {
  top: 250px;
  right: -10%;
  width: 67.92vw;
}


.sc-meet {
  background: #f5f4f3;
  height: 100vh;
  overflow: hidden;
}
.sc-meet .inner {
  position: relative;
  height: 100%;
}
.sc-meet .headline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  font-family: 'boowie';
  font-size: 5.5vw;
  text-align: center;
}
.sc-meet .headline .left {
  transform: translateX(-250%) rotate(-90deg);
}
.sc-meet .headline .center {
  margin: 0 2.6vw;
  transform: rotate(-90deg);
}
.sc-meet .headline .right {
  transform: translateX(250%) rotate(90deg);
} 


.sc-recreate {
  background: #f5f4f3;
  height: 320vh;
}
.sc-recreate .content {
  height: 100%;
  background: url('../images/recreate_bg.svg') no-repeat 0 0 / 100% 85%;
}
.sc-recreate .link-wrap {
  position: sticky;
  top: 1.6vw;
  padding: 0 0 1.6vw 1.6vw;
  z-index: 1;
}
.sc-recreate .more-link {
  max-width: 223px;
  line-height: 34px;
  border: 1px solid #f5f4f3;
}
.sc-recreate .earth-area {
  overflow: hidden;
  height: 100%;
}
.sc-recreate .earth-wrap {
  position: relative;
  height: 100%;
  transform-origin: 50% 1000px;
}
.sc-recreate .earth-wrap .left-earth {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 100%) rotate(140deg) scale(1);
  transform-origin: right;
}
.sc-recreate .earth-wrap .img-wrap {
  position: relative;
}
.sc-recreate .earth-wrap .img-wrap img {
  height: 53.3vw;
}
.sc-recreate .earth-wrap .img-wrap .earth-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotate(190deg);
}
.sc-recreate .earth-wrap .right-earth {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 150%) rotate(140deg) scale(1);
  transform-origin: left;
}


.sc-brief {
  background: linear-gradient(360deg, #F5F4F3 9.50927734375%, #D2C5FF 45.86663925438597%, #000000 90.4832763671875%);
}
.sc-brief .inner {
  padding: 1.6vw 3vw 0;
  height: 400vh;
}
.sc-brief .content {
  position: sticky;
  top: 1.6vw;
}
.sc-brief .top {
  display: flex;
  align-items: center;
}
.sc-brief .top .headline {
  font-size: 0.8vw;
  white-space: nowrap;
  margin-right: 0.5vw;
}
.sc-brief .top .line {
  width: 83.3vw;
  height: 1px;
  background: #000;
}
.sc-brief .top .moon-wrap {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  margin-left: 0.5vw;
}
.sc-brief .top .moon-wrap .ic-moon {
  width: 0.8vw;
  overflow: hidden;
}
.sc-brief .top .moon-wrap .ic-moon .moon-img {
  height: 0.8vw;
  transform: translateX(0.78vw);
}
.sc-brief .text-wrap {
  margin-top: 5.2vw;
}
.sc-brief .text-wrap .desc {
  font-family: 'boowie';
  font-size: 5.2vw;
  line-height: 1;
}
.sc-brief .text-wrap .desc .split-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}


.sc-rocket {
  position: relative;
}
.sc-rocket .content {
  position: relative;
  height: 300vh;
}
.sc-rocket .rocket-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 100vh;
  margin-top: -100vh;
  padding-top: 11.98vw;
}
.sc-rocket .rocket-wrap {
  display: flex;
  align-items: flex-end;
  transform: rotate(106deg);
  z-index: 1;
}
.sc-rocket .rocket-wrap img {
  width: 100%;
}
.sc-rocket .rocket-wrap .sm-rocket-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sc-rocket .rocket-wrap .sm-rocket-box .sm-top {
  width: 5.10vw;
  margin-bottom: -0.8vw;
}
.sc-rocket .rocket-wrap .sm-rocket-box .sm-middle {
  position: relative;
  width: 5.21vw;
  margin-bottom: -0.9vw;
}
.sc-rocket .rocket-wrap .sm-rocket-box .sm-bottom {
  width: 12.19vw;
}
.sc-rocket .rocket-wrap .big-rocket-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 -4.33vw;
  position: relative;
  z-index: 1;
  transform: scale(1.1);
}
.sc-rocket .rocket-wrap .big-rocket-box .big-top {
  width: 5.21vw;
}
.sc-rocket .rocket-wrap .big-rocket-box .big-middle1 {
  width: 8.13vw;
  margin-top: -1.3vw;
}
.sc-rocket .rocket-wrap .big-rocket-box .big-middle2 {
  width: 8.59vw;
  margin-top: -1.7vw;
}
.sc-rocket .rocket-wrap .big-rocket-box .big-middle3 {
  width: 8.70vw;
  margin-top: -1.6vw;
}
.sc-rocket .rocket-wrap .big-rocket-box .big-middle4 {
  width: 8.44vw;
  margin-top: -1vw;
}
.sc-rocket .rocket-wrap .big-rocket-box .big-middle5 {
  width: 8.59vw;
  margin-top: -0.3vw;
}
.sc-rocket .rocket-wrap .big-rocket-box .big-bottom {
  width: 17.03vw;
  margin-top: -2vw;
}
.sc-rocket .bg-area {
  height: 100vh;
  background: #000;
  position: sticky;
  top: 0;
}
.sc-rocket .bg-area .circle-flex {
  position: relative;
  top: 50%;
  transform: translateY(-35%);
  overflow: hidden;
  
}
.sc-rocket .bg-area .circle-flex .circle {
  position: relative;
  width: 53.9vw;
  height: 53.9vw;
  border-radius: 50%;
  overflow: hidden;
}
.sc-rocket .bg-area .circle-flex .circle .circle-bd{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 1px solid rgba(245, 244, 243, 0.35);
  clip-path: inset(100% 0% 0% 0%);
}
.sc-rocket .bg-area .circle-flex .circle.center {
  margin: 0 auto;
}
.sc-rocket .bg-area .circle-flex .circle.side {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.sc-rocket .bg-area .circle-flex .circle.left {
  left: -31.3vw;
}
.sc-rocket .bg-area .circle-flex .circle.right {
  right: -31.3vw;
}
.sc-rocket .bg-area .circle-flex .circle .sm-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48vw;
  height: 48vw;
  border-radius: 50%;
  overflow: hidden;
}
.sc-rocket .bg-area .circle-flex .circle .img-wrap {
  clip-path: circle(25% at 50% 50%);
}
.sc-rocket .bg-area .circle-flex .circle .img-wrap img {
  width: 100%;
  height: 100%;
}
.sc-rocket .bg-area .circle-flex .circle .video-wrap {
  clip-path: circle(10% at 50% 50%);
}
.sc-rocket .bg-area .circle-flex .circle .video-wrap .space-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.sc-about {
  background: linear-gradient(180deg, rgba(0,0,0,1) 5.865478515625%, #345C59 50.01220703125%, #594C86 71.25822368421053%, #000000 95.01439144736842%);
  height: 450vh;
  padding-top: 26.04vw;
}
.sc-about .inner {
  padding: 3vw 3vw 0;
}
.sc-about .headline {
  font-family: 'boowie';
  font-size: 6.1vw;
  line-height: 1;
  color: var(--text-color-100);
  margin-bottom: 2.3vw;
}
.sc-about .desc {
  width: 54.1vw;
  color: var(--text-color-100);
  margin-bottom: 3vw;
}
.sc-about .group-planet {
  position: sticky;
  top: 0px;
  overflow: hidden;
}
.sc-about .group-planet .grid-area {
  position: relative;
  width: 99.1vw;
  overflow: hidden;
}
.sc-about .group-planet .grid-area .grid {
  opacity: 0.35;
  filter: drop-shadow(1px 1px 5px #BCB9DE80);
  margin-top: -1.6vw;
}
.sc-about .group-planet .grid-area .grid svg {
  width: 100%;
  min-height: 972px;
}
.sc-about .group-planet .graph-area {
  display: flex;
  gap: 0.52vw;
  position: absolute;
  top: 50%;
  right: 3.1vw;
  transform: translateY(10.52vw);
}
.sc-about .group-planet .graph-area .left {
  display: flex;
  flex-direction: column;
  width: 9.7vw;
}
.sc-about .group-planet .graph-area .left .circular-grapth {
  position: absolute;
}
.sc-about .group-planet .graph-area .left .circular-graph .circular-line {
  position: absolute;
  left: 0;
  filter: drop-shadow(1px 1px 5px #BCB9DEff);
}
.sc-about .group-planet .graph-area .left .circular-graph .circular-line2 svg {
  transform: rotate(-600deg);
}
.sc-about .group-planet .graph-area .left .circular-graph .circular-line3 svg {
  transform: rotate(-360deg);
}
.sc-about .group-planet .graph-area .left .circular-graph .circular-line4 svg {
  transform: rotate(-180deg);
}
.sc-about .group-planet .graph-area .left .num-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 77%;
  left: 0;
  width: 9.74vw;
  height: 3.13vw;
  padding-left: 1.56vw;
  overflow: hidden;
}
.sc-about .group-planet .graph-area .left .num-wrap .num-text {
  font-size: 1.2vw;
  color: var(--text-color-100);
  opacity: 0.3;
}
.sc-about .group-planet .graph-area .right .line-graph {
  position: relative;
}
.sc-about .group-planet .graph-area .right .line-graph .dot-line {
  position: absolute;
  left: 0;
  width: 100%;
  filter: drop-shadow(1px 1px 5px #BCB9DEff);
}
.sc-about .group-planet .graph-area .right .line-graph .dot-line svg {
  width: 100%;
  height: 100%;
}
.sc-about .group-planet .graph-area .right .line-graph .dot-line1 {
  top: 3.3vw;
}
.sc-about .group-planet .graph-area .right .line-graph .dot-line2 {
  top: 50%;
  transform: translateY(-50%);
}
.sc-about .group-planet .graph-area .right .line-graph .dot-line3 {
  bottom: 3.3vw;
}
.sc-about .group-planet .graph-area .right .line-graph-wrap {
  width: 100%;
  max-width: 22.5vw;
  overflow: hidden;
}
.sc-about .group-planet .graph-area .right .line-graph-wrap .svg-wrap {
  width: 99.3vw;
  filter: drop-shadow(1px 1px 5px #BCB9DEff);
}
.sc-about .group-planet .graph-area .right .line-graph-wrap .svg-wrap svg {
  width: 100%;
}
.sc-about .group-planet .grid-area .planet-area {
  position: absolute;
  top: -4.2vw;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0px);
}
.sc-about .group-planet .grid-area .planet-area .planet-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  /* transform: translateY(-50%); */
}
.sc-about .group-planet .grid-area .planet-area .planet-wrap .planet-img {
  position: relative;
  z-index: 1;
}
.sc-about .group-planet .grid-area .planet-area .planet-wrap .point-wrap {
  position: absolute;
  display: flex;
  align-items: center;
}
.sc-about .group-planet .planet-area .planet-wrap .point-wrap .icon-wrap {
  position: relative;
}
.sc-about .group-planet .planet-area .planet-wrap .point-wrap .icon-wrap::before {
  content: '';
  position: absolute;
  height: 1px;
  background: #f5f4f3;
}
.sc-about .group-planet .planet-area .planet-wrap .point-wrap .ic-point {
  filter: drop-shadow(1px 1px 5px #CFFF28ff);
}
.sc-about .group-planet .planet-area .planet-wrap .point-wrap .text {
  flex: 1;
  min-width: 0;
  margin-left: 0.8vw;
  font-size: 1vw;
  color: var(--text-color-100);
  white-space: nowrap;
}
/* 1 */
.sc-about .group-planet .grid-area .planet-area .planet1 {
  transform: translateY(-44%);
}
.sc-about .group-planet .grid-area .planet-area .planet1 .point-wrap {
  bottom: 4.9vw;
  left: 21.9vw;
}
.sc-about .group-planet .grid-area .planet-area .planet1 .icon-wrap::before {
  top: 0;
  left: 0;
  transform: translate(-13vw, -5.2vw) rotate(45deg);
  width: 15.6vw;
}
/* 2 */
.sc-about .group-planet .grid-area .planet-area .planet2 {
  left: 39.8vw;
}
.sc-about .group-planet .grid-area .planet-area .planet2 .planet-img {
  transform: rotate(144deg);
}
.sc-about .group-planet .grid-area .planet-area .planet2 .point-wrap {
  bottom: -2.1vw;
  left: 6.3vw;
}
.sc-about .group-planet .grid-area .planet-area .planet2 .icon-wrap::before {
  top: -1vw;
  left: -2.9vw;
  transform: rotate(45deg);
  width: 3.6vw;
}
/* 3 */
.sc-about .group-planet .grid-area .planet-area .planet3 {
  left: 60.3vw;
  transform: translateY(-4.69vw);
}
.sc-about .group-planet .grid-area .planet-area .planet3 .planet-img {
  transform: rotate(100deg);
}
.sc-about .group-planet .grid-area .planet-area .planet3 .point-wrap {
  top: -2.1vw;
  left: -2.6vw;
}
.sc-about .group-planet .grid-area .planet-area .planet3 .icon-wrap::before {
  top: 3.6vw;
  left: -0.8vw;
  transform: rotate(45deg);
  width: 8.9vw;
}
/* 4 */
.sc-about .group-planet .grid-area .planet-area .planet4 {
  left: 88.4vw;
  width: 25.7vw;
  transform: translateY(-10.42vw);
}
.sc-about .group-planet .grid-area .planet-area .planet4 .planet-img {
  transform: rotate(-85deg);
}
.sc-about .group-planet .grid-area .planet-area .planet4 .point-wrap {
  top: 1.6vw;
  right: 0px;
}
.sc-about .group-planet .grid-area .planet-area .planet4 .icon-wrap::before {
  top: 2.1vw;
  left: -3.5vw;
  transform: rotate(-45deg);
  width: 4.7vw;
}
/* 5 */
.sc-about .group-planet .grid-area .planet-area .planet5 {
  left: 123.9vw;
  transform: translateY(-2.19vw);
  width: 4.2vw;
}
.sc-about .group-planet .grid-area .planet-area .planet5 .point-wrap {
  bottom: -2.6vw;
  right: -4.7vw;
}
.sc-about .group-planet .grid-area .planet-area .planet5 .icon-wrap::before {
  top: -1.3vw;
  left: -3.5vw;
  transform: rotate(45deg);
  width: 4.7vw;
}
/* 6 */
.sc-about .group-planet .grid-area .planet-area .planet6 {
  left: 138.2vw;
  transform: translateY(-9.48vw);
  width: 33.3vw;
}
.sc-about .group-planet .grid-area .planet-area .planet6 .point-wrap {
  top: -1.8vw;
  right: 6.1vw;
}
.sc-about .group-planet .grid-area .planet-area .planet6 .icon-wrap::before {
  top: 2.9vw;
  left: -5.3vw;
  transform: rotate(-45deg);
  width: 6.8vw;
}
/* 7 */
.sc-about .group-planet .grid-area .planet-area .planet7 {
  left: 179.9vw;
  transform: translateY(-14.58vw);
  width: 39.8vw;
}
.sc-about .group-planet .grid-area .planet-area .planet7 .point-wrap {
  bottom: 1.8vw;
  right: 2.5vw;
}
.sc-about .group-planet .grid-area .planet-area .planet7 .icon-wrap::before {
  top: -1.8vw;
  left: -5.3vw;
  transform: rotate(45deg);
  width: 6.8vw;
}
/* 8 */
.sc-about .group-planet .grid-area .planet-area .planet8 {
  left: 227.8vw;
  transform: translateY(-5.73vw);
  width: 21.6vw;
}
.sc-about .group-planet .grid-area .planet-area .planet8 .point-wrap {
  top: -0.8vw;
  right: 2.5vw;
}
.sc-about .group-planet .grid-area .planet-area .planet8 .icon-wrap::before {
  top: 2.9vw;
  left: -5.3vw;
  transform: rotate(-45deg);
  width: 6.8vw;
}
/* 9 */
.sc-about .group-planet .grid-area .planet-area .planet9 {
  left: 258.1vw;
  transform: translateY(-1.30vw);
  width: 8.8vw;
}
.sc-about .group-planet .grid-area .planet-area .planet9 .point-wrap {
  bottom: -1.3vw;
  right: -2.7vw;
}
.sc-about .group-planet .grid-area .planet-area .planet9 .icon-wrap::before {
  top: -1.8vw;
  left: -5.3vw;
  transform: rotate(45deg);
  width: 6.8vw;
}



.sc-impact {
  background: #000;
  /* overflow: hidden; */
}
.sc-impact .inner {
  position: relative;
  height: 410vh;
  /* padding: 3.6vw 0; */
}
.sc-impact .content-sticky {
  position: sticky;
  /* top: 3.6vw; */
  top: 0;
  height: 100vh;
  z-index: 1;
}
.sc-impact .content-sticky .content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 3.59vw 0 2.97vw;
}
.sc-impact .headline {
  font-family: 'boowie';
  font-size: 16.7vw;
  color: var(--text-color-100);
  text-align: center;
  line-height: 1;
}
.sc-impact .headline .text-hidden {
  display: block;
  overflow: hidden;
}
.sc-impact .headline .text-hidden .text {
  display: block;
  transform: translateY(0);
}
.sc-impact .impact-list {
  display: flex;
  gap: 5.2vw;
  margin-top: 14vw;
  padding: 0 3vw;
}
.sc-impact .impact-item {
  position: relative;
  flex: 1;
  padding: 1vw;
  height: 190px;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(245, 244, 243, 0.35);
}
.sc-impact .impact-item:nth-child(n+2)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -5.25vw;
  width: 5.2vw;
  height: 1px;
  background: rgba(245, 244, 243, 0.35);
}
.sc-impact .impact-item .desc {
  color: var(--text-color-100);
}
.sc-impact .meteor-area {
  position: absolute;
  width: 100%;
  height: 100%;
}
.sc-impact .meteor-area .meteor-img {
  position: absolute;
}
.sc-impact .meteor-area .meteor1 {
  top: 0;
  left: 3%;
  transform: translateY(0) rotate(-10deg);
  z-index: 1;
  width: 27.34vw;
}
.sc-impact .meteor-area .meteor2 {
  top: 0;
  right: 24%;
  transform: translateY(0) rotate(180deg);
  z-index: 0;
  width: 14.79vw;
}
.sc-impact .meteor-area .meteor3 {
  top: 0;
  left: 30%;
  transform: translateY(0) rotate(-10deg);
  z-index: 0;
  width: 27.08vw;
}
.sc-impact .meteor-area .meteor4 {
  top: 0;
  left: -18%;
  transform: translateY(0) rotate(320deg);
  z-index: 0;
  width: 48.33vw;
}
.sc-impact .meteor-area .meteor5 {
  top: 30%;
  right: 25%;
  transform: translateY(0) rotate(320deg);
  z-index: 1;
  width: 15vw;
}
.sc-impact .meteor-area .meteor6 {
  top: 32%;
  left: 25%;
  transform: translateY(0) rotate(60deg);
  z-index: 0;
  width: 30.1vw;
}
.sc-impact .meteor-area .meteor7 {
  top: 50%;
  right: 15%;
  transform: translateY(0) rotate(60deg);
  z-index: 1;
  width: 27.08vw;
}


.sc-rotation {
  overflow: hidden;
  background: linear-gradient(0deg, #345C59 0%, #000000 100%)
}
.sc-rotation .inner {
  padding-top: 20.8vw;
}
.sc-rotation .earth-area {
  position: relative;
  right: -55%;
  width: 100%;
}
.sc-rotation .earth-area .earth-wrap {
  transform: rotate(0deg);
  transform-origin: center;
}
.sc-rotation .earth-area .earth-wrap .img-wrap {
  width: 70.83vw;
}
.sc-rotation .earth-area .earth-wrap .img-wrap .earth-img {
  width: 100%;
  height: 70.83vw;
}
.sc-rotation .earth-area .line-wrap {
  position: absolute;
  top: 9.1vw;
  left: -43.3vw;
  width: 156.3vw;
}
.sc-rotation .earth-area .line-wrap .img-wrap {
  opacity: 0.37;
}
.sc-rotation .earth-area .line-wrap .img-wrap img {
  width: 100%;
}
.sc-rotation .earth-area .line-wrap .link-wrap {
  position: absolute;
  width: 1.7vw;
}
.sc-rotation .earth-area .line-wrap .link-wrap::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #cfff28ff;
  transition: transform .3s;
}
.sc-rotation .earth-area .line-wrap .link-wrap1 {
  bottom: 24.58vw;
  left: 77.08vw;
}
.sc-rotation .earth-area .line-wrap .link-wrap2 {
  bottom: 23.44vw;
  left: 49.64vw;
}
.sc-rotation .earth-area .line-wrap .link-wrap3 {
  top: 15.10vw;
  left: 24.64vw;
}
.sc-rotation .earth-area .line-wrap .link-wrap .start-link {
  display: block;
  height: 1.7vw;
  border-radius: 50%;
  background: #cfff28ff;
  transform: scale(1);
  transition: transform .3s;
  z-index: 2;
}

.sc-rotation .earth-area .line-wrap .link-wrap .start-link .link-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  font-size: 1vw;
  text-align: center;
}
.sc-rotation .earth-area .line-wrap .link-wrap:hover::before {
  transform: scale(3.5);
}
.sc-rotation .earth-area .line-wrap .link-wrap:hover .start-link .link-text {
  opacity: 1;
  visibility: visible;
}


.sc-overview {
  background: linear-gradient(0deg, #D2C5FF 3.6041259765625%, #F5F4F3 30.7403564453125%, #D0FFF0 50.76904296875%, #345C59 98.4466552734375%);
}
.sc-overview .content {
  position: relative;
  padding: 20.8vw 0 20.8vw;
}
.sc-overview .content .dot-line {
  width: 62.6vw;
  margin: 0 auto;
}
.sc-overview .content .dot-line .dot-line-img {
  width: 100%;
  height: 184.01vw;
  clip-path: inset(0 0 100% 0);
}
.sc-overview .content .text-area {
  position: absolute;
  overflow: hidden;
}
.sc-overview .content .text-area .text-wrap .video-mask {
  position: relative;
  margin-bottom: 40px;
}
.sc-overview .content .text-area .text-wrap .video-mask video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sc-overview .content .text-area .text-wrap .video-mask svg {
  position: relative;
  z-index: 2;
}
.sc-overview .content .text-area .text-wrap .video-mask svg text {
  dominant-baseline: text-before-edge;
  font-synthesis: style;
}
.sc-overview .content .text-area1 {
  top: 14.06vw;
  left: 28.65vw;
}
.sc-overview .content .text-area1 .text-wrap {
  transform: translateX(-100%);
}
.sc-overview .content .text-area1 .text-wrap .video-mask svg {
  height: 11.46vw;
}
.sc-overview .content .text-area2 .text-wrap .desc {
  width: 28.85vw;
}
.sc-overview .content .text-area2 {
  top: 68.75vw;
  right: 41.67vw;
  text-align: right;
}
.sc-overview .content .text-area2 .text-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translateX(100%);
}
.sc-overview .content .text-area2 .text-wrap .video-mask {
  padding: 0 20px;
}
.sc-overview .content .text-area2 .text-wrap .video-mask svg {
  height: 13.02vw;
}
.sc-overview .content .text-area2 .text-wrap .desc {
  width: 25.89vw;
}
.sc-overview .content .text-area3 {
  bottom: 95.83vw;
  right: 33.85vw;
  text-align: right;
}
.sc-overview .content .text-area3 .text-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translateX(100%);
}
.sc-overview .content .text-area3 .text-wrap .video-mask svg {
  height: 13.02vw;
  padding: 0 40px;
}
.sc-overview .content .text-area3 .text-wrap .desc {
  width: 17.4vw;
}
.sc-overview .content .text-area4 {
  bottom: 50vw;
  left: 31.77vw;
  width: 49.5vw;
}
.sc-overview .content .text-area4 .text-wrap {
  transform: translateX(100%);
}
.sc-overview .content .text-area4 .text-wrap .video-mask svg {
  height: 14.06vw;
}
.sc-overview .content .text-area3 .text-wrap .desc {
  width: 18vw;
}
.sc-overview .content .text-area .text-wrap .num {
  font-family: 'boowie';
  line-height: 1;
}
.sc-overview .content .icon-wrap {
  position: absolute;
  width: 4.1vw;
  filter: drop-shadow(1px 1px 5px #345C5999);
}
.sc-overview .content .icon-wrap1 {
  top: 19.3vw;
  left: 19vw;
  filter: drop-shadow(1px 1px 5px #CFFF28ff);
  animation: twinkleRotation 5s linear infinite;
}
.sc-overview .content .icon-wrap2 {
  top: 71.3vw;
  left: 66.1vw;
  animation: twinkleRotation 5s linear infinite;
}
.sc-overview .content .icon-wrap3 {
  bottom: 104.2vw;
  left: 75.9vw;
  animation: twinkleRotation 5s linear infinite;
}
.sc-overview .content .icon-wrap4 {
  bottom: 55.2vw;
  left: 16.8vw;
  animation: twinkleRotation 5s linear infinite;
}
.sc-overview .content .icon-wrap svg {
  height: 4.1vw;
}
.sc-overview .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#mask-bg {
  mask: url('#mask');
}


.sc-flow {
  position: relative;
  z-index: 2;
  height: 300vh;
  background: linear-gradient(0deg, #F5F4F3 12.2100830078125%, #D2C5FF 100%);
}
.sc-flow .content-sticky {
  position: sticky;
  top: 50px;
  width: 100%;
}
.sc-flow .content-sticky .content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.sc-flow .group-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-flow .group-area .line-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-flow .line-area .line-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  filter: drop-shadow(1px 1px 5px #F5F4F3ff);
  stroke-width: 0.3;
  perspective: 1000px;
}
.sc-flow .line-area .line-wrap svg {
  height: 700px;
  width: 100%;
}
.sc-flow .line-area .line-wrap1 {
  transform: translate(-50%, -50%) rotateY(0deg);
}
.sc-flow .line-area .line-wrap2 {
  width: 776px;
  transform: translate(-59.5%, -50%) rotateY(64deg);
}
.sc-flow .line-area .line-wrap2 svg {
  height: 776px;
}
.sc-flow .line-area .line-wrap3 {
  width: 740px;
  transform: translate(-49.5%, -50%) rotateX(87deg);
}
.sc-flow .line-area .line-wrap3 svg {
  height: 740px;
}
.sc-flow .line-area .line-wrap4 {
  width: 720px;
  transform: translate(-50%, -57%) rotateX(49deg);
}
.sc-flow .line-area .line-wrap4 svg {
  height: 720px;
}
.sc-flow .line-area .line-wrap5 {
  width: 720px;
  transform: translate(-50%, -43%) rotateX(49deg);
}
.sc-flow .line-area .line-wrap5 svg {
  height: 720px;
}
.sc-flow .line-area .line-wrap6 {
  width: 740px;
  transform: translate(-52.5%, -50%) rotateY(20deg);
}
.sc-flow .line-area .line-wrap6 svg {
  height: 740px;
}
.sc-flow .line-area .line-wrap7 {
  width: 780px;
  transform: translate(-42%, -50%) rotateY(68deg);
}
.sc-flow .line-area .line-wrap7 svg {
  height: 780px;
}
.sc-flow .line-area .line-wrap8 {
  width: 780px;
  transform: translate(-50.5%, -51%) rotateY(-21deg);
}
.sc-flow .line-area .line-wrap8 svg {
  height: 780px;
}
.sc-flow .line-area .line-wrap9 {
  width: 762px;
  transform: translate(-61%, -50%) rotateY(55deg);
}
.sc-flow .line-area .line-wrap9 svg {
  height: 762px;
}
.sc-flow .line-area .line-wrap10 {
  width: 766px;
  transform: translate(-40%, -50%) rotateY(58deg);
}
.sc-flow .line-area .line-wrap10 svg  {
  height: 762px;
}
.sc-flow .line-area .line-wrap11 {
  width: 800px;
  transform: translate(-50%, -50%) rotateY(87deg);
}
.sc-flow .line-area .line-wrap11 svg {
  height: 800px;
}
.sc-flow .text-flow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  overflow: hidden;
}
.sc-flow .text-flow .text {
  display: block;
  white-space: nowrap;
  font-family: 'boowie';
  font-size: 25.7vw;
  margin-left: 14.3vw;
}


.sc-constellation {
  overflow: hidden;
}
.sc-constellation .content {
  position: relative;
  height: 71.04vw;
}
.sc-constellation .video-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.sc-constellation .video-wrap .space-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.2;
  mix-blend-mode: multiply;
}
.sc-constellation .video-wrap .contellation-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.2;
  opacity: 0.7;
  mix-blend-mode: multiply;
}
.sc-constellation .constellation-wrapper {
  width: 100%;
  height: 100%;
  transform: rotate(0);
}
.sc-constellation .line-area {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.sc-constellation .line-area .line-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-constellation .line-area .line-wrap1 .line-box {
  width: 49.58vw;
  height: 43.02vw;
  transform: translate(4.32vw, -2.34vw) rotate(-31deg);
}
.sc-constellation .line-area .line-wrap2 .line-box {
  width: 49.58vw;
  height: 43.02vw;
  scale: 1.2;
  transform: rotate(-30deg);
}
.sc-constellation .line-area .line-wrap3 .line-box {
  width: 38.54vw;
  height: 45.52vw;
  scale: 0.93;
  transform: translate(3.44vw, 10vw) rotate(-31deg);
}
.sc-constellation .line-area .line-wrap4 .line-box {
  width: 36.35vw;
  height: 54.32vw;
  scale: 0.9;
  transform: translate(-10.68vw, 12.76vw) rotate(-31deg);
}
.sc-constellation .line-area .line-wrap .line-box svg {
  width: 100%;
  height: 100%;
}
.sc-constellation .circle-area {
  position: absolute;
  width: 100%;
  height: 100%;
}
.sc-constellation .circle-area .point-circle {
  position: absolute;
  width: 1.3vw;
  height: 1.3vw;
  filter: drop-shadow(1px 1px 5px #CFFF28ff);
  opacity: 0;
}
.sc-constellation .circle-area .point-circle svg {
  height: 100%;
}
.sc-constellation .circle-area .circle1 {
  top: 17vw;
  left: 40.68vw;
}
.sc-constellation .circle-area .circle2 {
  top: 17vw;
  left: 56.6vw;
}
.sc-constellation .circle-area .circle3 {
  top: 26vw;
  left: 43.91vw;
}
.sc-constellation .circle-area .circle4 {
  bottom: 32vw;
  left: 27.60vw;
}
.sc-constellation .circle-area .circle5 {
  bottom: 33.1vw;
  right: 13.59vw;
}
.sc-constellation .circle-area .circle6 {
  bottom: 32.7vw;
  right: 40.89vw;
}
.sc-constellation .circle-area .circle7 {
  bottom: 6.3vw;
  left: 30.68vw;
}
.sc-constellation .circle-area .circle8 {
  bottom: 14.3vw;
  left: 46.77vw;
}
.sc-constellation .circle-area .circle9 {
  bottom: 4.3vw;
  right: 40.31vw;
}


.sc-typo {
  position: relative;
  z-index: 2;
  background: linear-gradient(0deg, #ECFFEE 0%, #D2C5FF 33.8409423828125%, #F5F4F3 100%);
}
.sc-typo .inner {
  padding: 1.6vw 1.6vw 0 1.6vw;
}
.sc-typo .more-link {
  position: sticky;
  top: 1.6vw;
  max-width: 223px;
  line-height: 34px;
  border: 1px solid #000;
  color:var(--text-color-900);
  background: transparent;
}
.sc-typo .more-link .ic-twinkle {
  background: #000;
}
.sc-typo .more-link:hover {
  color: var(--text-color-100);
  background: #000;
}
.sc-typo .more-link:hover .ic-twinkle {
  background: #f5f4f3;
}
.sc-typo .content {
  padding-top: 11.5vw;
  text-align: center;
}
.sc-typo .content .text-wrap {
  margin-bottom: 36px;
}
.sc-typo .content .text-wrap .text {
  font-family: 'boowie';
  font-size: 5vw;
  line-height: 1.1;
}
.sc-typo .icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6vw;
  margin-top: 9.3vw;
}
.sc-typo .icon-wrap .ic-moon {
  display: block;
  width: 1.7vw;
  filter: drop-shadow(1px 1px 5px #CFFF28ff);
}
.sc-typo .icon-wrap .ic-moon.reverce {
  transform: rotate(180deg);
}
.sc-typo .icon-wrap .ic-moon svg {
  width: 100%;
  height: 1.7vw;
  fill: #CFFF28ff;
}
.sc-typo .meaningless {
  height: 26vw;
}
.sc-typo .text-wrap {
  filter: blur(8px);
  transition: filter .5s ease;
}


.sc-ufo {
  background: linear-gradient(0deg, #345C59 13.800048828125%, #D0FFF0 47.796630859375%, #ECFFEE 88.372802734375%);
  overflow: hidden;
}
.sc-ufo .content {
  position: relative;
}
.sc-ufo .content .bg-wrap .background-img {
  width: 100%;
  height: 73.13vw;
  object-fit: cover;
}
.sc-ufo .content .ufo-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.sc-ufo .content .ufo-wrap .main-ufo {
  position: absolute;
  top: 6.3vw;
  left: 50%;
  transform: translate(-50%, 0);
  animation: mainUfoMove 8s infinite;
}
.sc-ufo .content .ufo-wrap .main-ufo .main-ufo-img {
  position: relative;
  z-index: 1;
  width: 39.11vw;
  opacity: 0;
}
.sc-ufo .content .ufo-wrap .main-ufo .ufo-light-wrap {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 51.46vw;
}
.sc-ufo .content .ufo-wrap .main-ufo .ufo-light-img {
  height: 44.69vw;
  object-fit: cover;
  mask-image: url(../images/light_mask.svg);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
.sc-ufo .content .ufo-wrap .sub-ufo {
  position: absolute;
}
.sc-ufo .content .ufo-wrap .sub-ufo.tr {
  top: 50px;
  right: 14%;
  opacity: 0;
}
.sc-ufo .content .ufo-wrap .sub-ufo .sub-ufo-img1 {
  height: 3.6vw;
}
.sc-ufo .content .ufo-wrap .sub-ufo.tl {
  top: 6.77vw;
  left: 9.90vw;
  opacity: 0;
}
.sc-ufo .content .ufo-wrap .sub-ufo .sub-ufo-img2 {
  height: 6.3vw;
  animation: subUfoMove 7s infinite 1s;
}
.sc-ufo .content .ufo-wrap .sub-ufo.br {
  top: 13.02vw;
  right: -6.77vw;
  opacity: 0;
}
.sc-ufo .content .ufo-wrap .sub-ufo .sub-ufo-img3 {
  height: 8.3vw;
  animation: subUfoMove 6s infinite;
}
.sc-ufo .content .ufo-wrap .sub-ufo.bl {
  top: 18.23vw;
  left: -7.81vw;
  opacity: 0;
}
.sc-ufo .content .ufo-wrap .sub-ufo .sub-ufo-img4 {
  height: 8.5vw;
  animation: subUfoMove 8s infinite;
}


.honors-banner {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 999;
}

.studio-banner {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  box-shadow: 3.54px 3.54px 10px 0px rgba(0, 0, 0, 0.2);;
}
.studio-banner .studio-link .studio-img-wh {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
}
.studio-banner .studio-link:hover .studio-img-wh {
  opacity: 1;
  transition: opacity 0s;
}